[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
flask = "*"
pyjwt = {extras = ["cryptography"], version = "*"}
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
